.forum_title {
   font-size:10px; font-weight:normal;
}

code {
    white-space: pre;
}

code br {
    line-height: 0px;
    display: none;
}

.urbanBox {
   width:200px;
   height:150px;
   margin:10px;
   float:left;
}

.urbanBox IMG { border:1px solid white; height:115px; width:115px; }

.hlink {
	font-size:11px;
	font-weight:normal;
	margin:0px;
}
.hHeader {
	font-size:11px;
	font-weight:bold;
	margin:0px;
}

#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #283f3c;
	height: 100%;
	border: 1px solid #586f6c;
}

#MB_header {
	margin: 0;
	padding: 0;
	height:20px;
}

#MB_content {
	margin-left: 50px;
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;font-weight:bold;
	height:20px;
	padding:5px 2px 2px 5px;
	background-image:url(images/capmain.gif);background-repeat:repeat;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(../shoutbox/images/ajax/throbber.gif) 50% 0 no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
}
#MB_window {
	background-color: #EFEFEF;
	color: #000;
}

#MB_header {
  background-image:url(./HBH/images/capmain.gif);
  background-repeat: repeat-x;
}
#MB_caption { color:#ddd; }


/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}